//Media queries
@mixin mobile-only {
    @media screen and (width <=768px) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (768px <=width <=992px) {
        @content;
    }
}

@mixin laptop-only {
    @media screen and (992px <=width <=1150px) {
        @content;
    }
}

@mixin desktop-small-only {
    @media screen and (1150px <=width <=1475px) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (width>=1475px) {
        @content;
    }
}

//Other
//Flex mixins
@mixin center-flex($gap: 0px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}


//Grid mixins
@mixin grid($rows: auto-fill, $columns: auto-fill, $gap: 0px) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

//Mixin to center in the middle
@mixin absolute-center {
    translate: -50% -50%;
    inset: 50%;
}


//Mixin to make the image fit
@mixin fit-image {
    object-fit: cover;
    object-position: center;
}

//Mixin to get the text ellipsis effect on a single line
@mixin single-ellipsis-effect {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//Mixin to get the text ellipsis effect after a few lines
@mixin multiline-ellipsis-effect($columns: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $columns;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

//Mixin for the styling of a button
@mixin link-btn-styling {
    @include center-flex(15px);

    width: 240px;

    font-weight: 500;
    font-size: 22px;

    padding: 20px 25px;

    border-radius: 15px;

    background-color: var(--color-primary);
    color: var(--bg-secondary);

    transition:
        background-color 150ms ease-in-out,
        color 150ms ease-in-out;

    &:hover {
        background-color: var(--color-primary--hover);
    }

    &:active {
        background-color: var(--color-primary--active);
    }

    &:visited {
        color: var(--bg-secondary);
    }

    @include mobile-only {
        font-size: 18px;

        text-align: center;

        padding: 10px 15px;
    }
}

//Mixin for the styling of an input
@mixin inputs-styling {
    background-color: transparent;

    border: 2px solid var(--border-color);
    border-radius: 5px;

    &:focus {
        border: 2px solid var(--scrollbar-thumb-bg-color);
    }

    padding: 10px 15px;
}