:root {
    --bg-primary: #FAFAFA;
    --bg-secondary: white;

    --color-primary: #323232;
    --color-primary--hover: #3c3c3c;
    --color-primary--active: #474747;
    --color-secondary: #757575;

    --semi-transparent-bg: rgba(255, 255, 255, 70%);

    --border-color: #DBDBDB;

    --scrollbar-track-bg-color: white;

    --scrollbar-thumb-bg-color: #545454;
    --scrollbar-thumb-bg-color--hover: #757575;
    --scrollbar-thumb-bg-color--active: #b0b0b0;

    /* Pixel variables */
    --timeline-space: 100px;

}

@property --mask-image-offset {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 80%;
}

::backdrop {
    --backdrop-bg-color: rgba(255, 255, 255, 0.5);

    --scrollbar-track-bg-color: white;

    --scrollbar-thumb-bg-color: #545454;
    --scrollbar-thumb-bg-color--hover: #757575;
    --scrollbar-thumb-bg-color--active: #b0b0b0;
}