//SASS
$bg-primary: #FAFAFA;
$bg-secondary: white;

$color-primary: #323232;
$color-primary--hover: lighten($color-primary, 10%);
$color-primary--active: lighten($color-primary, 20%);
$color-secondary: #757575;

$border-color: #DBDBDB;

$scrollbar-track-bg-color: white;
$scrollbar-thumb-bg-color: #545454;
$scrollbar-thumb-bg-color--hover: #757575;
$scrollbar-thumb-bg-color--active: #b0b0b0;

//CSS
:root {
    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};

    --color-primary: #{$color-primary};
    --color-primary--hover: #{$color-primary--hover};
    --color-primary--active: #{$color-primary--active};
    --color-secondary: #{$color-secondary};
    --border-color: #{$border-color};


    --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
}

::backdrop {
    --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
}