@use "../utils/" as *;

.error-500 {
    width: 80%;
    margin: 50px auto;
    @include center-flex-column(25px);

    text-align: center;

    &__main-title {
        font-size: 164px;
    }

    &__title {}

    &__subtitle {}
}