@use "../utils/" as *;

.about-page {
    @include center-flex-column(50px);

    &__title {
        margin-top: 50px;
    }

    &__subtitle {}

    &__introduction-content {
        display: flex;
        margin-bottom: 100px;


        @include tablet-only {
            flex-direction: column;
            gap: 50px;

        }

        @include mobile-only {
            flex-direction: column;
            gap: 50px;

        }
    }

    &__image-container {
        flex: 1;

        @include center-flex-column;
    }

    &__image {
        object-position: center;
        object-fit: contain;
        height: auto;
        width: 65%;
        filter: url(#pixel-noise);

        @include tablet-only {
            object-fit: cover;
            height: 55%;
            width: 55%;
        }

        @include mobile-only {
            object-fit: cover;
            height: 75%;
            width: 75%;
        }

        border-radius: 25px;
    }

    &__text-cards-container {
        flex: 2;
        padding: 0 50px;

        @include tablet-only {
            width: 75%;
            margin: auto;
            padding: 0 0px;
        }

        @include mobile-only {
            width: 75%;
            margin: auto;
            padding: 0 0px;
        }
    }

    &__cards {
        @include grid-auto(1, 3, 10px);


        @include tablet-only {
            @include grid(1, 2, 15px);

            &>.card:last-child:not(:nth-last-child(2n)) {
                grid-column: span 2
            }
        }

        @include mobile-only {
            @include grid(1, 1, 15px)
        }

    }


    &__card {


        @include center-flex-column(10px);

        min-width: 160px;
        min-height: 130px;

        background-color: var(--bg-secondary);

        border: 2px solid var(--border-color);

        border-radius: 10px;

        &-title {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & svg {
                aspect-ratio: 1/1;
                height: 25px;
            }
        }

        &-description {

            color: var(--color-secondary);
            font-size: 14px;

            @include mobile-only {
                text-align: justify
            }
        }
    }

    &__text {
        @include tablet-only {
            @include center-flex-column;
        }

        @include mobile-only {
            @include center-flex-column;
        }
    }

    &__description {
        @include card-styling;
        color: var(--color-secondary);

        padding: 20px 20px;

        margin-block: 20px;

        @include mobile-only {
            background-color: transparent;
            border: none;

            padding: 0;

            margin-block: 30px;
            text-align: justify;
        }

    }

    &__resume-button {
        margin-top: 20px;


        width: auto;

        @include tablet-only {
            width: 100%;
        }

        @include mobile-only {
            width: 100%;
        }
    }

    &__diplomas {
        width: 75%;
        margin-top: -50px;

        &-title {
            padding: 20px 0;

            text-align: center;
        }

        margin-bottom: 25px;
    }

    &__diplomas-container {

        width: 100%;

        @include grid(2, 2, 25px);

        @include tablet-only {
            @include grid(2, 2, 25px);

        }

        @include mobile-only {
            @include center-flex-column(25px);
        }
    }

    &__diploma-card {
        @include card-styling;
    }
}