@use "../utils/" as *;

.contact-page {
  @include center-flex-column(25px);

  &__title {
    margin-top: 50px;
  }

  &__subtitle {
    margin: 0 5px;
  }

  &__main-container {
    width: 90%;
    margin: auto;

    @include center-flex;

    gap: 75px;

    margin-bottom: 50px;

    @include tablet-only {
      @include center-flex-column(50px);
    }

    @include mobile-only {
      @include center-flex-column(50px);
    }
  }

  &__contact-cards-container {
    @include center-flex-column(25px);

    @include tablet-only {
      width: 100%;
    }

    @include mobile-only {
      width: 100%;
    }
  }

  &__contact-cards-container-title {
    font-size: 20px;
  }

  &__contact-card {
    padding: 20px 15px;

    width: 360px;
    min-height: 175px;

    @include tablet-only {
      width: inherit;
    }

    @include mobile-only {
      width: inherit;
    }

    &-icon-container {}

    &-icon {}

    &-text {
      @include center-flex-column(10px);
    }

    &-user-name {
      color: var(--color-secondary);
    }

    &-link {
      color: var(--color-secondary);

      text-decoration: underline;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 25px;

    gap: 20px;

    max-width: 425px;
    width: 425px;

    position: relative;

    @include tablet-only {
      width: 100%;
      max-width: none;
    }

    @include mobile-only {
      width: 100%;
      max-width: none;

      background-color: transparent;
      border: none;

      padding: 0px;
      margin-top: 25px;
    }
  }

  &__send-form-button {
    width: 100%;
  }

  &__send-form-feedback {
    color: var(--_input-message-color);

    padding: 10px;
    text-align: center;
    width: 100%;

    border-radius: 10px;

    &--positive {
      border: var(--_input-message-bg-success) 2px solid;
    }

    &--negative {
      border: var(--_input-message-bg-error) 2px solid;
    }
  }


  &__fieldset {
    margin: auto;
    width: 100%;

    @include center-flex-column(45px);
  }

  &__legend {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding-bottom: 15px;

    font-size: 20px;
  }

  --_input-message-color: white;
  --_input-message-bg-success: darkgreen;
  --_input-message-bg-error: red;

  &__input-label-container {
    position: relative;
    width: inherit;

    /**
        If the container has inputs or textareas that aren't focused, add this color to the label
        */
    &:has(:is(input, textarea):not(:focus))>label {
      color: var(--color-secondary);
    }

    &--empty-input>input {
      border-radius: 20px 20px 0 0;
      border-bottom: none;
    }

    &--empty-input>textarea {
      border-radius: 20px 20px 0 0;
      border-bottom: none;
    }
  }



  &__input-label-message {
    font-size: 14px;

    width: 100%;

    display: inline-flex;

    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;

    background-color: var(--color-primary);
    color: var(--_input-message-color);

    border-radius: 0 0 15px 15px;

    &--success {
      background-color: var(--_input-message-bg-success);
    }

    &--error {
      background-color: var(--_input-message-bg-error);
    }
  }

  &__label {
    display: inline-block;

    padding: 0 5px;
    border-radius: 100vmax;

    background-color: none;
    color: var(--color-secondary);

    position: absolute;
    top: 34%;

    &--text-area {
      top: 31.5%;
    }

    left: 23px;

    scale: 115%;

    transition: top 250ms ease-in-out,
    left 250ms ease-in-out,
    translate 250ms ease-in-out,
    scale 250ms ease-in-out,
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;

    &.active {
      background-color: none;
      background-image: linear-gradient(180deg,
          transparent 50%,
          var(--bg-primary) 50%);
      color: currentColor;

      scale: 90%;
      top: -12px;
      left: 13px;

      @include mobile-only {
        background-image: linear-gradient(0deg,
            transparent 35%,
            var(--bg-primary) 0%);
      }
    }
  }

  &__input {
    @include inputs-styling;

    width: 100%;
    height: 75px;
    font-size: 18px;

    border-radius: 20px;

    background-color: var(--semi-transparent-bg);
  }

  &__text-area {
    min-height: 80px;
    max-height: 80px;

    resize: none;

    &.active {
      resize: vertical;
      max-height: 1605px;
    }

    @include inputs-styling;

    background-color: var(--semi-transparent-bg);

    width: 100%;

    font-size: 18px;

    border-radius: 20px;

    font-size: 18px;
  }
}