@use "../utils/" as *;

.home-page {
    display: flex;

    //Classes for the <aside>
    &__socials {
        flex: 1;
    }

    &__social-list {}

    &__social-item {}

    &__social-image {}


    //Classes  for the main
    &__presentation {
        flex: 10;
        display: flex;

        margin-top: 50px;
    }

    &__description {
        flex: 2;
    }

    &__title {
        font-size: 48px;
    }

    &__blob {
        position: relative;

        margin-right: 25px;

        flex: 1;

        aspect-ratio: 1/1;
        height: 400px;

        &>svg {
            transition: scale 250ms ease-out;
        }

        &:hover {
            &>svg {
                scale: 150%;
            }

            &>.home-page__profile-picture {
                scale: 150%;
                filter: grayscale(0%);
                translate: -50% -45%;
            }
        }

    }

    &__profile-picture {
        position: absolute;

        left: 50%;
        top: 22%;
        translate: -50% 0;
        filter: grayscale(100%);

        transition:
            translate 250ms ease-out,
            scale 250ms ease-out,
            filter 250ms ease-out,
        ;



        border-radius: 25px;
    }
}