@use "../utils/" as *;

.home-page {
    display: flex;


    @include tablet-only {
        margin-bottom: 50px;
    }

    @include mobile-only {
        flex-direction: column;
    }



    //Classes for the <aside>
    &__socials {
        flex: 1;

        display: flex;

        @include mobile-only {
            flex-direction: column;
        }

        margin: 35px 20px;
    }

    &__social-list {
        @include center-flex-column(25px);

        @include mobile-only {
            @include center-flex(25px);
        }
    }


    &__social-link {
        aspect-ratio: 1/1;
    }

    &__social-item {
        position: relative;

        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);


            &::before {
                box-shadow: 0px 0px 7px currentColor;
            }
        }

        &::before {
            content: "";

            position: absolute;
            @include absolute-center;

            aspect-ratio: 1/1;
            height: 50px;

            z-index: -1;


            background-image: radial-gradient();
            box-shadow: 0px 0px 0px currentColor;
            border-radius: 50%;
        }

    }

    &__social-image {}


    //Classes  for the main
    &__presentation {
        flex: 10;
        display: flex;

        @include mobile-only {
            flex-direction: column-reverse;

            width: 85%;

            margin: auto;
        }

        margin-top: 50px;
    }

    &__description {
        flex: 2;

        @include mobile-only {
            @include center-flex-column(20px);
            margin-bottom: 60px;
        }
    }

    &__title {

        @include mobile-only {
            text-align: center;
        }

    }

    &__title-hand {
        scale: -100% 100%;

        animation-name: wave-hand;
        animation-duration: 2.5s;
        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
        animation-delay: 0s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-iteration-count: infinite;

        display: inline-block;

        transform-origin: center bottom;
    }

    &__subtitle {
        margin: 25px 50px;

        position: relative;

        @include mobile-only {
            text-align: center;
        }

        &::before {
            content: "";

            position: absolute;
            top: 55%;
            left: -50px;

            @include mobile-only {
                left: -25%;
            }

            width: 45px;
            height: 1px;

            background-color: var(--color-primary);
        }
    }

    &__paragraph {
        color: var(--color-secondary);
        ;
        margin: 50px 0;
    }

    &__contact-button {
        @include link-btn-styling;

    }


    &__blob {
        position: relative;

        margin-right: 25px;

        flex: 1;

        aspect-ratio: 1/1;
        height: 400px;


        @include mobile-only {
            margin-right: 0;


            height: 200px;

            margin-block: 0.5%;

            @include center-flex;
        }

        &>svg {
            transition: scale 250ms ease-out;
            stroke-linecap: round;

            @include mobile-only {
                display: none;
            }
        }

        & path {
            transition:
                stroke-dasharray 650ms ease-in-out,
                stroke-dashoffset 650ms ease-in-out,
            ;
            stroke-dasharray: 355;
            stroke-dashoffset: 355;
        }

        &:hover {
            &>svg {
                scale: 150%;

                @include mobile-only {
                    scale: 105%
                }
            }

            & path {
                stroke-dasharray: 710;
                stroke-dashoffset: 355;
            }

            &>.home-page__profile-picture {
                scale: 150%;
                translate: -30% -25%;

                @include mobile-only {
                    filter: drop-shadow(0px 0px 30px var(--color-primary));

                    translate: 0 0;

                    scale: 100%;
                }
            }
        }

    }

    &__profile-picture {
        position: absolute;

        left: 50%;
        top: 22%;
        translate: -50% 0;

        transition:
            translate 250ms ease-out,
            scale 250ms ease-out,
            filter 250ms ease-out,
        ;

        border-radius: 25px;

        @include mobile-only {
            position: static;

            translate: 0 0;


            aspect-ratio: 1/1;
            width: 300px;
            height: 350px;

            @include fit-image;
        }
    }
}