@use "../utils/" as *;

.home-page {
    display: flex;


    @include tablet-only {
        margin-bottom: 50px;
        flex-direction: column;
    }

    @include mobile-only {
        flex-direction: column;
    }

    &__canvas {
        filter: blur(5px) invert(100%);
        z-index: -1;
        position: absolute;

        width: 100%;
        height: 100%;

        opacity: 50%;
    }



    //Classes for the <aside>
    &__socials {
        flex: 1;

        display: flex;

        justify-content: center;

        @include mobile-only {
            flex-direction: column;
        }

        margin: 35px 20px;
    }

    &__social-list {
        @include center-flex-column(25px);

        @include tablet-only {
            @include grid(1, 5, 50px);
        }

        @include mobile-only {
            @include grid(1, 2, 25px);
        }
    }


    &__social-link {
        aspect-ratio: 1/1;

        display: inline-block;
        margin-top: 5px;
    }

    &__social-item {
        position: relative;

        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);


            &::before {
                box-shadow: 0px 0px 7px currentColor;
            }
        }

        &::before {
            content: "";

            position: absolute;
            @include absolute-center;

            aspect-ratio: 1/1;
            height: 50px;

            z-index: -1;


            background-image: radial-gradient();
            box-shadow: 0px 0px 0px currentColor;
            border-radius: 50%;
        }

        @include mobile-only {
            @include center-flex;
        }

    }

    // &__social-image {}


    //Classes  for the main
    &__presentation {
        flex: 10;
        display: flex;
        margin-block: 50px;

        @include laptop-only {
            margin-bottom: 25px;
        }


        @include tablet-only {
            width: 80%;
            margin: 25px auto;

            flex-direction: column;
        }

        @include mobile-only {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            gap: 30px;

            padding-top: 30px;

            width: 85%;

            margin: auto;
        }



    }

    &__description {
        flex: 2;

        background-color: var(--semi-transparent-bg);

        @include card-styling;

        padding: 20px;

        border-radius: 15px;

        & a {
            @include tablet-only {
                margin: auto;
            }
        }


        @include mobile-only {
            @include center-flex-column(20px);

            padding: 20px;

            margin-bottom: 60px;

            background-color: transparent;
            border: none;
        }
    }

    &__title {
        margin-top: 50px;


        @include mobile-only {
            text-align: center;
        }

    }

    &__title-hand {
        scale: -100% 100%;

        animation-name: wave-hand;
        animation-duration: 2.5s;
        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
        animation-delay: 0s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-iteration-count: infinite;

        display: inline-block;

        transform-origin: center bottom;
    }

    &__subtitle {
        margin: 25px 50px;

        position: relative;

        @include mobile-only {
            text-align: center;
        }

        &::before {
            content: "";

            position: absolute;
            top: 55%;
            left: -50px;

            @include mobile-only {
                left: -25%;
            }

            width: 45px;
            height: 1px;

            background-color: var(--color-primary);
        }
    }

    &__paragraph {
        color: var(--color-secondary);

        position: relative;


        &::before {
            content: "";
            position: absolute;

            inset: 50%;
            translate: -50% -50%;

            width: 105%;
            height: 110%;
            border-radius: 25px;

            padding: 15px;
            z-index: -1;

            background-color: var(--semi-transparent-bg);
        }

        @include tablet-only {
            width: 100%;
        }

        margin: 50px 0;
    }

    &__contact-button {
        @include link-btn-styling;

    }


    &__blob {
        position: relative;

        margin-right: 25px;

        flex: 1;

        aspect-ratio: 1/1;
        height: 400px;

        @include tablet-only {
            order: -1;
            aspect-ratio: 2/1;

            margin: 25px 0;

            @include center-flex-column;
        }


        @include mobile-only {
            margin-right: 0;


            height: 200px;

            width: min-content;

            margin-block: 0.5%;

            @include center-flex;

            overflow: hidden;
            border-radius: 25px;
        }

        &>svg {
            transition: scale 250ms ease-out;
            stroke-linecap: round;

            @include tablet-only {
                display: none;
            }

            @include mobile-only {
                display: none;
            }
        }

        & path {
            transition:
                stroke-dasharray 650ms ease-in-out,
                stroke-dashoffset 650ms ease-in-out,
            ;
            stroke-dasharray: 355;
            stroke-dashoffset: 355;
        }

        &:hover {
            &>svg {
                scale: 150%;


                @include mobile-only {
                    scale: 105%
                }
            }

            & path {
                stroke-dasharray: 710;
                stroke-dashoffset: 355;
            }

            &>.home-page__profile-picture {
                scale: 150%;
                translate: -30% -25%;

                @include tablet-only {
                    filter: drop-shadow(0px 0px 30px var(--color-primary));

                    translate: 0 0;

                    scale: 100%;
                }

                @include mobile-only {
                    filter: drop-shadow(0px 0px 30px var(--color-primary));

                    translate: 0 0;

                    scale: 100%;
                }
            }
        }

    }

    &__profile-picture {
        position: absolute;

        left: 50%;
        top: 22%;
        translate: -50% 0;

        transition:
            translate 250ms ease-out,
            scale 250ms ease-out,
            filter 250ms ease-out,
        ;

        border-radius: 25px;

        @include tablet-only {
            position: static;

            translate: 0 0;

            width: 300px;
            height: 350px;

            transform-origin: left;

            @include fit-image;
        }

        @include mobile-only {
            position: static;

            translate: 0 0;

            width: 300px;
            height: 350px;

            @include fit-image;
        }
    }
}