@use "../utils/" as *;

.skills-page {
    @include center-flex-column(25px);

    &__card {
        width: 415px;
        height: 315px;

    }

    &__skills-container {
        @include center-flex(50px);
    }

    &__skills {

        &-front-end {
            @include grid(3, 2, 50px)
        }

        &-back-end {
            @include grid(3, 2, 50px)
        }
    }
}