@use "../utils/" as *;

.slider {
    @include center-flex-column(25px);

    overflow-x: hidden;

    @include mobile-only {
        overflow-x: visible;

        margin-bottom: 40px;
    }

    transition: translate 350ms ease-in-out;

    position: relative;


    &__container {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        margin-left: 65%;

        @include mobile-only {
            margin-left: 10%;
        }


        width: 100vw;


        transition: translate 350ms ease-in-out;
    }


    &__button {
        position: absolute;
        z-index: 69;

        @include center-flex-column;

        background-color: var(--bg-secondary);

        border: 2px solid currentColor;
        border-radius: 15px;

        padding: 10px;

        @include mobile-only {
            bottom: -20px;
        }

        &--left {
            left: 10px;

            @include mobile-only {
                left: 36px;
            }

            rotate: -90deg;
        }


        &--right {
            right: 10px;

            @include mobile-only {
                right: 36px;
            }

            rotate: 90deg;
        }
    }

    &__indexation-container {
        display: flex;
        gap: 10px;

    }

    &__index {
        aspect-ratio: 1/1;

        height: 10px;

        background-color: var(--color-secondary);
        filter: invert(100%) hue-rotate(180deg);

        border-radius: 50%;

        transition: opacity 350ms ease-in-out;

        opacity: 35%;

        &--active {

            opacity: 100%;
        }
    }


    &__card {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 5px;


        padding: 20px;

        min-width: 400px;

        @include mobile-only {
            // min-width: 20%;
            min-height: 200px;
        }

        width: 400px;

        min-height: 250px;

        &-image {
            @include fit-image;

            border-radius: 50%;
        }

        &-text {}

        &-title {
            font-weight: 600;

            color: var(--color-primary);
        }

        &-description {
            color: var(--color-secondary);
            font-style: italic;
        }
    }
}