@use "../utils/" as *;

.header {

    --list-item-pad: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(10px);

    position: sticky;
    top: 0;

    z-index: 69;

    padding: 30px;

    border-bottom: 2px solid var(--border-color);

    transition: translate 350ms ease-in-out;

    @include tablet-only {
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    @include mobile-only {
        translate: 0% 100%;

        height: auto;
        width: 100%;

        border-top: 2px solid var(--border-color);
        border-bottom: none;

        position: fixed;
        bottom: 0px;
        top: auto; //Removes the top

        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }


    &:has(#open-menu-button:checked) {
        translate: 0% 0%;
    }

    &__open-menu-mobile {
        position: relative;
        display: none;

        width: 100%;
        min-height: 1px;

        @include mobile-only {
            display: block;
        }

        &-label {
            display: inline-block;

            z-index: 69;

            position: absolute;
            top: -100px;

            background-color: var(--bg-primary);
            outline: 2px solid currentColor;

            aspect-ratio: 1/1;
            height: 50px;

            border-radius: 10px;

            &::before {
                transition: rotate 800ms ease-in-out,
                    bottom 800ms ease-out,
                    left 800ms ease-out;

                content: "";

                position: absolute;
                bottom: 28px;
                left: 12px;

                height: 3px;
                width: 25px;

                background-color: currentColor;
                rotate: 0deg;

            }

            &::after {
                transition: rotate 800ms ease-in-out,
                    bottom 800ms ease-out,
                    left 800ms ease-out;

                content: "";

                position: absolute;
                bottom: 18px;
                left: 12px;

                height: 3px;
                width: 25px;

                background-color: currentColor;
                rotate: 0deg;

            }
        }

        &-checkbox {
            display: none;

            &:checked+.header__open-menu-mobile-label::before {
                bottom: 23px;
                rotate: 45deg;
            }

            &:checked+.header__open-menu-mobile-label::after {
                bottom: 23px;
                rotate: -45deg;

            }
        }
    }


    &__dev {
        &-name {
            border-radius: 100vmax;
            background: var(--bg-primary);
            box-shadow: 0px 0px 20px 10px var(--bg-primary);
            padding: 0 14px;
        }
    }

    &__nav {

        @include mobile-only {
            width: 100%;

        }

        display: flex;
    }

    &__list {
        position: relative;

        width: inherit;

        display: inherit;
        align-items: center;
        gap: 20px;

        @include mobile-only {
            @include grid(3, 2, 50px);
        }

        font-weight: 500;
        font-size: 18px;

        & .header__item-home.active~.header__item-follow {
            left: 14px;
            width: 54px;
        }

        & .header__item-about.active~.header__item-follow {
            left: 116px;
            width: 55px;
        }

        & .header__item-skills.active~.header__item-follow {
            left: 219px;
            width: 44px;
        }

        & .header__item-services.active~.header__item-follow {
            left: 311px;
            width: 76px;
        }

        & .header__item-portfolio.active~.header__item-follow {
            left: 435px;
            width: 74px;
        }

        & .header__item-contact.active~.header__item-follow {
            left: 557px;
            width: 74px;
        }
    }


    &__item {


        & svg {
            display: none;
        }

        @include mobile-only {

            & svg {
                display: initial;
            }
        }

        &-contact svg {
            rotate: 45deg;
        }

        &:not(.header__item-follow) {
            background: var(--bg-primary);

            box-shadow: 0px 0px 20px 10px var(--bg-primary);

            padding: 0 14px;

            border-radius: 100vmax;

            @include mobile-only {
                padding: 14px;
                border-radius: 10px;
            }
        }


        &.active {
            @include mobile-only {
                outline: 2px solid currentColor;
            }
        }

        @include mobile-only {
            @include center-flex-column(10px);
        }
    }

    &__item-follow {
        @include mobile-only {
            display: none;
        }

        position: absolute;
        bottom: 0;
        left: 0;

        width: 0px;

        transition: left 300ms cubic-bezier(0.42, 0, 0.58, 1),
        width 250ms cubic-bezier(0.42, 0, 0.58, 1);

        background-color: var(--color-primary);
        height: 2px;
    }
}