@use "../utils/" as *;

.header {

    --list-item-pad: 30px;

    @include desktop-only {
        backdrop-filter: blur(10px);
        top: 0;
        position: sticky;

    }

    @include desktop-small-only {
        backdrop-filter: blur(10px);
        top: 0;
        position: sticky;

    }

    @include laptop-only {
        backdrop-filter: blur(10px);
        top: 0;
        position: sticky;

    }

    @include tablet-only {
        backdrop-filter: blur(10px);
        top: 0;
        position: sticky;
    }

    z-index: 69;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-only {
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    @include mobile-only {
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    padding: 30px;

    border-bottom: 2px solid var(--border-color);

    &__nav {

        @include mobile-only {
            width: auto;
        }

        display: flex;
    }

    &__list {
        position: relative;

        width: 100%;

        display: inherit;
        align-items: center;
        gap: 20px;

        @include mobile-only {
            flex-direction: column;
        }

        font-weight: 500;
        font-size: 18px;

        & .header__item-home.active~.header__item-follow {
            left: 14px;
            width: calc(54px);
        }

        & .header__item-about.active~.header__item-follow {
            left: 115px;
            width: 55px;
        }

        & .header__item-skills.active~.header__item-follow {
            left: 219px;
            width: 45px;
        }

        & .header__item-services.active~.header__item-follow {
            left: 311px;
            width: 76px;
        }

        & .header__item-portfolio.active~.header__item-follow {
            left: 435px;
            width: 74px;
        }

        & .header__item-contact.active~.header__item-follow {
            left: 557px;
            width: 74px;
        }
    }


    &__item {

        &:not(.header__item-follow) {
            border-radius: 100vmax;
            background: var(--bg-primary);
            box-shadow: 0px 0px 20px 10px var(--bg-primary);
            padding: 0 14px;
        }


        &.active {
            @include mobile-only {
                text-decoration: underline;
            }
        }
    }

    &__item-follow {
        @include mobile-only {
            display: none;
        }

        position: absolute;
        bottom: 0;
        left: 0;

        transition: left 300ms cubic-bezier(0.42, 0, 0.58, 1),
        width 250ms cubic-bezier(0.42, 0, 0.58, 1);

        background-color: var(--color-primary);
        width: 25px;
        height: 2px;
    }
}