@use "../utils/" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;

    border-bottom: 2px solid var(--border-color);

    &__nav {
        width: 50%;

        display: flex;
    }

    &__list {
        position: relative;

        width: 100%;

        display: inherit;
        justify-content: space-around;
        align-items: center;

        font-weight: 500;
        font-size: 18px;
    }


    &__item {}

    &__item-follow {}
}