@use "../utils/" as *;

.page-layout {
    @include mobile-only {
        min-height: 75svh;
    }
}

.page-section {
    position: relative;
}

.page-transition {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;

    &>.page-section {
        height: 100%;
    }
}